.MovieDetails {
  color: white; 
  display: flex; 
  flex-direction: column; 
}

.title-section {
  text-align: center;
}

.title {
  margin-bottom: 0; 
}

.details-heart {
  width: 35px;
  cursor: pointer;
  margin-left: 8px; 
}

.details-heart:hover {
  transform: scale(1.1);
}

.main-movie-section {
  display: flex; 
  flex-grow: 1;
  padding-left: 4em; 
  padding-right: 4em; 
}

.poster {
  width: 25em;
}

.movie-info {
  margin: 2em;
  padding: 2em;
  border: 1px solid white; 
}

.avg-rating {
  display: inline-block;
  padding: 0.3em; 
  color: white;
  font-size: 1.5em; 
  background-color: #960317;
}

.category {
  font-weight: bolder; 
}

.rating-btn {
  background-color: #960317;
  color: white; 
  padding: 0.3em; 
}

.rating-btn:hover {
    transform: scale(1.1);
  }

.trailer-comments {
  display: flex;
  margin-left: 2em;
  margin-right: 2em; 
}

.video-container {
  padding: 2em; 
}